<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/style.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<div id="h1home">
    <!-- Great Job! -->
    <h2>Add Your Note</h2>
	<form method="POST" action="/add_tweet">
		<div>
			<label for="title">title:</label>
			<input type="text" id="title" name="title">
		</div>
		<div>
			<label for="text">text:</label>
			<input type="text" id="text" name="bio" maxlength="280">
		</div>
		<div class="centered">
			<input class="button8" type="submit" value="Submit"/>
		</div>
	</form>
	<br>
	<div class = "centered">
	<a href="/tweets"><button class="button2">See All Notes</button></a>
	<br>
	<a href="/home"><button class="button3">Go Home</button></a>
	</div>
	<!-- <button onclick="='https://w3docs.com';"> -->
		<!-- Click Here -->
	<!-- </button> -->
</div>
</body>
</html>