<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="./static/css/style.css">
    <meta charset="UTF-8">
    <title>Signup</title>
</head>
<body>
	<!--
    <form method="POST" action="/signup">
    	<div>
            <label>Email address*</label>
            <div>
                <input type="email"  name="email" id="emailStr">
            </div>
        </div>     
        <div>
            <label>Password*</label>
            <div class="input-group">
                <input type="password"  name="password" minlength="6">
            </div>
        </div>
             <div>
            <label>full_name*</label>
            <div>
                <input type="text"  name="full_name">
            </div>
            
            <div>
            <label>user_name*</label>
            <div>
                <input type="text"  name="user_name">
            </div>
            <div>
            <label>bio*</label>
            <div>
                <input type="text"  name="bio" maxlength="280">
            </div>
        </div>
        <div>
            <input type="submit"/>
        </div>
    </form> 
    
<form action="/signup"> 
	<label for="fname">First name:</label><br> 
	<input type="text" id="fname" name="fname" value="John"><br> 
	<label for="lname">Last name:</label><br> 
	<input type="text" id="lname" name="lname" value="Doe"><br><br>
	 <input type="submit" value="Submit"> 
</form>-->
	<div id="h1home">
        <form  method="POST" action="/signup"> 
        	<h4>
            Create an account
        </h4>
        <p >
            Please fill up your information below to sign up.
        </p>
        	<label for="email">Email:</label><br> 
        	<input type="email" id="email" pattern=".+@.+\.com" name="email" required><br> 

        	<label for="password">password:</label><br> 
        	<input type="password" id="password" name="password" minlength="6" required><br>

			<label for="uname">user name:</label><br> 
        	<input type="text" id="uname" name="uname"><br> 

        	<label for="fname">Full name:</label><br> 
        	<input type="text" id="fname" name="fname"><br> 

        	<label for="bio">bio:</label><br> 
        	<input type="text" id="bio" name="bio" maxlength="280"><br><br>
        	<br> 
        	<input class="button7" type="submit" value="Signup"> 
        	<br> <br>
    		<a href="/"><button class="button6">Signin</button></a>
        </form> 
    </div>
</body>
</html>