<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="./static/css/style.css">
	<meta charset="UTF-8">
	<title>Tweets</title>
</head>
<body>
	<h2>All Notes</h2>
	{% for tweet in tweets %}
	<div class="tweetsdis">
 	<h4> {{tweets[tweet]["title"]}} </h4>
 	<p> {{tweets[tweet]["bio"]}} </p>
 	<p> {{users[tweets[tweet]["uid"]]["user_name"]}}</p>
 	</div>
 	<br>
	{%endfor%}
<div class="centered">
	<br>
	<a href="/add_tweet"><button button class="button1">Add Note</button></a>
	<br>
	<a href="/home"><button button class="button3">Go Home</button></a>
</div>
</body>
</html>